{% extends "base.html" %}
{% block page_title %}
    Search
{% endblock page_title %}
{% block search-bar %}
{% endblock search-bar %}
{% block content %}
    <div class='reset w-full flex flex-col items-center'>
    <p class='text-3xl'>Search Form</p>
    <form method="get" action="{% url "houses:search" %}" class='w-1/3'>
        {{form}}
        <button class='btn-link my-3'>Search</button>
    </form>
        <p class='text-3xl font-medium'>Results</p>
    </div>
    <div class='flex flex-wrap mb-10'>
    {%for house in houses%}
        {% comment %} <p class='text-lg'>{{house.name}}</p> {% endcomment %}
        {% include 'mixins/house_card.html' with house=house %}
    {%endfor%}
    </div>
{% endblock content %}